
@{
    ViewBag.Title = "Gallery";
}

<head>
    <title>Gallery</title>
    <link rel="icon" href="~/Content/img//kkk.png" type="image/icon type">

    <!-- Plugins -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/gallery-style.css" />
</head>
<body>
    <div class="flex-wrapper">
        <div class="content gallery">
            <ul class="controls">
                <li class="buttons active" data-filter="all">all</li>
                <li class="buttons" data-filter="study">My Study</li>
                <li class="buttons" data-filter="city">My City</li>
                <li class="buttons" data-filter="home">My Home</li>
                <li class="buttons" data-filter="dog">My Dog</li>
                <li class="buttons" data-filter="cat">My Cats</li>
            </ul>

            <div class="image-container">
                <a href="~/Content/img/programming_01.jpg" class="image study">
                    <img src="~/Content/img/programming_01.jpg" alt="" />
                </a>
                <a href="~/Content/img/programming_02.jpg" class="image study">
                    <img src="~/Content/img/programming_02.jpg" alt="" />
                </a>
                <a href="~/Content/img/programming_06.jpg" class="image study">
                    <img src="~/Content/img/programming_06.jpg" alt="" />
                </a>
                <a href="~/Content/img/sofia_01.jpg" class="image city">
                    <img src="~/Content/img/sofia_01.jpg" alt="" />
                </a>
                <a href="~/Content/img/sofia_02.jpg" class="image city">
                    <img src="~/Content/img/sofia_02.jpg" alt="" />
                </a>
                <a href="~/Content/img/sofia_03.jpg" class="image city">
                    <img src="~/Content/img/sofia_03.jpg" alt="" />
                </a>
                <a href="~/Content/img/house_01.jpg" class="image home">
                    <img src="~/Content/img/house_01.jpg" alt="" />
                </a>
                <a href="~/Content/img/house_02.jpg" class="image home">
                    <img src="~/Content/img/house_02.jpg" alt="" />
                </a>
                <a href="~/Content/img/house_03.jpg" class="image home">
                    <img src="~/Content/img/house_03.jpg" alt="" />
                </a>
                <a href="~/Content/img/doggo_01.jpg" class="image dog">
                    <img src="~/Content/img/doggo_01.jpg" alt="" />
                </a>
                <a href="~/Content/img/doggo_02.jpg" class="image dog">
                    <img src="~/Content/img/doggo_02.jpg" alt="" />
                </a>
                <a href="~/Content/img/doggo_03.jpg" class="image dog">
                    <img src="~/Content/img/doggo_03.jpg" alt="" />
                </a>
                <a href="~/Content/img/cat_01.jpg" class="image cat">
                    <img src="~/Content/img/cat_01.jpg" alt="" />
                </a>
                <a href="~/Content/img/cat_02.jpg" class="image cat">
                    <img src="~/Content/img/cat_02.jpg" alt="" />
                </a>
                <a href="~/Content/img/cat_03.jpg" class="image cat">
                    <img src="~/Content/img/cat_03.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
</body>

